* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(112 38 100);
  overflow: auto;
  position: relative;
  transition: all 0.35s ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}